<h1 style="text-align: center;">Register New Employee</h1>
<div class="box" [formGroup]="form">
    <mat-card class="card">
        <div class="formCard">
            <mat-form-field>
                <input matInput placeholder="Full name" formControlName="fullName">
                <mat-error *ngIf="formControl.fullName?.errors?.required">This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Position" formControlName="position">
                <mat-error *ngIf="formControl.position?.errors?.required">This field is required
                </mat-error>

            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="About" formControlName="about"></textarea>
                <mat-error *ngIf=" formControl.about?.errors?.required">This field is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Joining date"
                    formControlName="joiningDate" (focus)="picker.open()">
                <mat-error *ngIf="formControl.joiningDate?.errors?.required">This field is required
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
        </div>
    </mat-card>
</div>